<canvas class="absolute top-0 -z-10" id="canvas-box"></canvas>
<div class="h-screen" id="hero">
  <p class="relative my-6 text-5xl left-6 text-Lime-green font-fira-code w-fit">
    Tukacs Patrik_
  </p>

  <div class="relative z-10 flex flex-row items-center ml-10 w-max">
    <div class="relative">
      <img
        src="assets/hi.png"
        class="w-[375px] mx-5 aspect-square z-10"
        alt=""
      />
      <img
        class="absolute align-middle inset-y-1/2 left-[15%] -z-10"
        src="assets/Vector.svg "
        alt=""
      />
    </div>
    <div class="flex flex-col">
      <h1
        class="text-[64px] font-semibold text-Lime-green font-fira-code leading-[79px]"
      >
        Hi! <br />
        I'm Tukacs Patrik
      </h1>
      <p class="text-4xl font-fira-code text-Lime-green">
        Web developer, programmer and <br />
        computer science engineer student.
      </p>
    </div>
  </div>
</div>
