<div class="absolute">
  <canvas
    class="absolute top-0 bg-black -z-10 blur-sm"
    id="canvas-box"
  ></canvas>
  <p class="relative my-6 text-5xl left-6 text-Lime-green font-fira-code w-fit">
    Tukacs Patrik_
  </p>

  <div
    class="relative z-10 flex flex-row items-center -translate-x-1/2 inset-x-2/3 w-fit"
  >
    <img src="assets/hi.png" class="w-[408px] aspect-square" alt="" />
    <div class="flex flex-col">
      <h1
        class="text-[64px] font-semibold text-Lime-green font-fira-code leading-[79px]"
      >
        Hi! <br />
        I'm Tukacs Patrik
      </h1>
      <p class="text-4xl font-fira-code text-Lime-green">
        Web developer, programmer and <br />
        computer science engineer student.
      </p>
    </div>
  </div>
</div>
