<div
  class="flex w-full h-screen bg-Very-Dark-cyan"
  id="projects"
  visibility
  (visibilityChange)="visibilityChange($event)"
  [visibilityMonitor]="monitor"
>
  <div class="flex flex-col items-center m-auto">
    <h2
      class="font-fira-code text-Light-green font-light text-3xl xl:text-[64px] mb-10 "
    >
      //My Projects
    </h2>
    <div scrolla class="flex flex-row w-screen gap-24 p-4 overflow-x-scroll overflow-y-hidden flex-nowrap px-36 xl:px-0 xl:justify-center snap-mandatory snap-x">
      <app-project-card
        *ngFor="let projects of ProjectList"
        [projectCard]="projects"
        class="snap-center "
      ></app-project-card>
    </div>
  </div>
</div>
