<div class="flex flex-col w-full h-full py-8 xl:flex-row dark:bg-Dark-cyan bg-Lime-green xl:py-0" id="about" visibility (visibilityChange)="visibilityChange($event)" [visibilityMonitor]="monitor">
  <div class="order-2 w-full pl-32 pr-2 my-auto xl:px-48 xl:order-1">
    <h2 class="font-fira-code dark:text-Light-green text-Very-Dark-cyan font-light text-3xl xl:text-[64px] my-5 xl:my-12">
      //ABOUT
    </h2>
    <p
      class=" font-light leading-10 xl:leading-loose dark:text-Light-green font-fira-code text-Very-Dark-cyan text-xl xl:text-[36px]"
    >
      Hi. I’m Tukacs Patrik. Computer Science engineer sudent at University of
      Szeged. I am ambitious in programming and i love trying my self in new
      challenges. Personally
    </p>
  </div>
  <img src="assets/Patrik.jpg" class="w-5/6 xl:w-1/2 aspect-video object-cover border-2 border-black shadow-[5px_4px_0px_#000000] xl:border-none xl:shadow-none md:aspect-square order-1 xl:order-2 container mx-auto " alt="">
</div>
