<div class="flex flex-row w-full h-full dark:bg-Dark-cyan bg-Lime-green parallax " id="about">
  <div class="mx-24 my-auto ">
    <h2 class="font-fira-code dark:text-Light-green text-Very-Dark-cyan font-light text-[64px]">
      //ABOUT
    </h2>
    <p
      class="font-light leading-10 dark:text-Light-green font-fira-code text-Very-Dark-cyan text-[36px]"
    >
      Hi. I’m Tukacs Patrik. Computer Science engineer sudent at University of
      Szeged. I am ambitious in programming and i love trying my self in new
      challenges. Personally
    </p>
  </div>
</div>
