<div class="bg-Light-green border-[10px] border-Lime-green aspect-square w-[402px] rounded-[10px]  relative shadow-black shadow-[10px_10px_0px_#000000] ">
  <div class="px-4 pt-4 pb-[28px] flex flex-row align-baseline gap-[20px]">
    <img class="h-[50px]" src="assets/file.svg" alt="" />
    <h2 class="text-[42px] font-semibold text-Lime-green font-fira-code leading-[49px]  " >{{ Title }}</h2>
  </div>
  <p class="font-fira-code px-4 text-Lime-green font-[450] text-3xl leading-[39px]">{{ Description }}</p>
  <div class="absolute bottom-0 flex flex-row items-baseline justify-between w-full px-4 pb-2">
    <p class="font-mono text-base font-normal leading-5 opacity-50 text-Lime-green">{{ Technologies }}</p>
    <img class="h-12 greenSVG" src="assets/github-mark.svg" alt="" />
  </div>
</div>