<div class="flex w-full h-screen bg-Lime-green" id="stack">
  <div class="m-auto">
    <h2 class="font-fira-code text-Very-Dark-cyan font-light text-[64px]">
      //Technologies i’m familiar with
    </h2>
    <div class="flex flex-col gap-[40px]">
      <div class="flex flex-row gap-[80px] mx-auto darkGreenSVG">
        <img class="w-32" src="assets/stack/cplusplus.svg" alt="" />
        <img class="w-32" src="assets/stack/arduino.svg" alt="" />
        <img class="w-32" src="assets/stack/java.svg" alt="" />
        <img class="w-32" src="assets/stack/php.svg" alt="" />
        <img class="w-32" src="assets/stack/angularjs.svg" alt="" />
        <img class="w-32" src="assets/stack/html5.svg" alt="" />
        <img class="w-32" src="assets/stack/tailwindcss.svg" alt="" />
        <img class="w-32" src="assets/stack/nextjs.svg" alt="" />
      </div>
      <div class="flex flex-row gap-[80px] mx-auto darkGreenSVG">
        <img class="w-32" src="assets/stack/typescript.svg" alt="" />
        <img class="w-32" src="assets/stack/nodejs.svg" alt="" />
        <img class="w-32" src="assets/stack/npm.svg" alt="" />
        <img class="w-32" src="assets/stack/ubuntu.svg" alt="" />
        <img class="w-32" src="assets/stack/github.svg" alt="" />
        <img class="w-32" src="assets/stack/vim.svg" alt="" />
        <img class="w-32" src="assets/stack/vscode.svg" alt="" />
        <img class="w-32" src="assets/stack/threejs.svg" alt="" />
      </div>
    </div>
  </div>
</div>
