<div
  class="flex w-full h-screen bg-Lime-green"
  id="stack"
  visibility
  (visibilityChange)="visibilityChange($event)"
  [visibilityMonitor]="monitor"
>
  <div class="m-auto">
    <h2 class="font-fira-code text-Very-Dark-cyan font-light text-[64px] mb-10">
      //Technologies i’m familiar with
    </h2>
    <div class="grid grid-cols-8 grid-rows-2 gap-8 darkGreenSVG">
      <img class="w-32" src="assets/stack/cplusplus.svg" alt="C++" />
      <img class="w-32" src="assets/stack/arduino.svg" alt="Arduino" />
      <img class="w-32" src="assets/stack/java.svg" alt="Java" />
      <img class="w-32" src="assets/stack/php.svg" alt="PHP" />
      <img class="w-32" src="assets/stack/angularjs.svg" alt="Angular" />
      <img class="w-32" src="assets/stack/html5.svg" alt="HTML" />
      <img class="w-32" src="assets/stack/tailwindcss.svg" alt="TailwindCSS" />
      <img class="w-32" src="assets/stack/nextjs.svg" alt="NextJS" />
      <img class="w-32" src="assets/stack/typescript.svg" alt="TypeScript" />
      <img class="w-32" src="assets/stack/nodejs.svg" alt="NodeJS" />
      <img class="w-32" src="assets/stack/npm.svg" alt="npm" />
      <img class="w-32" src="assets/stack/ubuntu.svg" alt="Ubuntu" />
      <img class="w-32" src="assets/stack/github.svg" alt="GitHub" />
      <img class="w-32" src="assets/stack/vim.svg" alt="Vim" />
      <img class="w-32" src="assets/stack/vscode.svg" alt="VSCode" />
      <img class="w-32" src="assets/stack/threejs.svg" alt="ThreeJS" />
    </div>
  </div>
</div>
