<a href="{{ navItem.url }}" class="flex flex-row items-center gap-1 xl:gap-3 group">
  <span
    class="inline-block w-6 h-6 xl:w-12 xl:h-12 p-3 xl:p-6 transition-all rotate-45 border-2 rounded-md border-Dark-cyan"
    [ngClass]="
      navItem.isVisible
        ? 'bg-Dark-cyan rotate-0'
        : 'group-hover:bg-Dark-cyan group-hover:rotate-0'
    "
  >
  </span>
  <p
    class="relative left-0 text-xl xl:text-3xl transition-all opacity-0 font-fira-code text-Dark-cyan"
    [ngClass]="navItem.isVisible ? 'opacity-100' : 'group-hover:opacity-100'"
  >
    {{ navItem.name }}
  </p>
</a>
