<div
  class="bg-Light-green shadow-Lime-green aspect-square w-72 xl:w-[402px] rounded-[10px] relative shadow-[0_0_0_10px] transition-transform duration-300 delay-75 hover:-translate-y-2"
>
  <div class="px-4 pt-4 pb-[28px] flex flex-row align-baseline gap-[20px]">
    <img class="h-[50px] darkGreenSVG" src="assets/file.svg" alt="" />
    <h2
      class="xl:text-[42px] text-2xl font-semibold text-Dark-cyan font-fira-code leading-[49px]"
    >
      {{ projectCard.title }}
    </h2>
  </div>
  <p
    class="font-fira-code px-4 text-Lime-green font-[450] text-lg xl:text-3xl leading-[39px]"
  >
    {{ projectCard.description }}
  </p>
  <div
    class="absolute bottom-0 flex flex-row items-end justify-between w-full h-20 px-4 pb-2"
  >
    <p
      class="w-auto font-mono text-base font-normal leading-5 opacity-75 text-Lime-green"
    >
      {{ projectCard.technologies }}
    </p>
    <a class="w-12 h-12 " href="{{ projectCard.url }}" target="_blank">
      <img class=" darkGreenSVG" src="assets/github-mark.svg" alt="" />
    </a>
  </div>
</div>
