/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  @apply scroll-smooth;
}
body {
  @apply m-0 overflow-x-hidden;
  background-color: #354f52;
}
:root {
  --primary: #354f52;
  --secondary: #cad2c5;
}
* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
  transition: all 0.5s ease-in-out;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px !important;
  display: block !important;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}
@layer components {
  .darkGreenSVG {
    filter: invert(45%) sepia(29%) saturate(362%) hue-rotate(114deg)
      brightness(91%) contrast(89%);
  }
  .greenSVG {
    filter: invert(68%) sepia(23%) saturate(347%) hue-rotate(81deg)
      brightness(91%) contrast(84%);
  }
}
.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("assets/Patrik.jpg");
}
